.mktoForm {
	font-size: 1rem !important;
	width: auto !important;
 }
  
.mktoForm	input, select {
		width: 300px !important;
		padding: 4px !important;
		font-size: 20px !important;
		border-color: rgb(166, 166, 166) !important;
		border-width: 1px !important;
		background: #FFFFFF !important;
		box-shadow: none !important;
		line-height: 1.2rem !important;
		margin: 0 !important;
		border-radius: 0 !important;
}
  
.mktoForm label {
		width: 170px !important;
		font-weight: normal !important;
		font-size: 1.125rem !important;
}

.mktoAsterix {
		display: inline-block !important;
		float: none !important;
}
  
.mktoButtonWrap {
		margin-left: 0 !important;
}
    
.mktoButtonWrap button {
			display: inline-block !important;
			text-align: center !important;
			padding: 0.75em 3em !important;
			font-family: "milowebbold" !important;
			font-size: 1.3125rem !important;
			line-height: 1.3125rem !important;
			letter-spacing: -0.02em !important;
			color: #FFFFFF !important;
			background: #22BCF0 !important;
			text-transform: uppercase !important;
			border: 0 !important;
			width: 300px !important;
}
