table {
	margin-bottom: 1em;
}

tr {
	border-bottom: 1px solid #001932;
}

th, td {
	vertical-align: top;
	padding: 10px;
}

.tablesaw-cell-label td, .tablesaw-cell-label th {
	padding: 0 1em 0 0;
}

.tablesaw-cell-label {
	display: block;
	vertical-align: top;
}

.tablesaw-cell-content {
	max-width: 50%;
	display: inline-block;
}

th {
	background-color: #00c8ee;
	border: none;
}

tbody th {
	background-color: rgba(255, 255, 255, 0.05);
}

td {
	background-color: rgba(255, 255, 255, 0.05);
	border: none;
}
